.middle-content {
    display: flex;
    justify-content: left;
}

.vertical-line{
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.horizontal-shift {
    padding-left: 25px;
}

.border-size {
    font-size: 30px;
}