@import '../../assets/scss/global_variables.scss';

.terminal-background {
    background-color: $terminal-background;
}

.command{
    display: flex;
    justify-content: left;
}

.photo-space {
    padding-left: 50px;
}

.skills-word {
    margin-top: 50px;
}


.image-size {
    max-height: 96px;
    // max-width: 96px;
}