.terminal-background {
  background-color: teal;
}

.command {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.photo-space {
  padding-left: 50px;
}

.skills-word {
  margin-top: 50px;
}

.image-size {
  max-height: 96px;
}
